body,
html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.imagen-fondo {
    background-position: center;
    background-size: cover;
    background-image: url("../img/background_5.jpg");
    min-height: 100%;
}

h1 {

    background: rgba(0, 0, 0, 0.7);
    font-size: 72px;
    color: white;
    border: solid rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 5px;
    font-weight: 400;

}

h2 {
  background: rgba(0, 0, 0, 0.7);
  font-size: 35px;
  color: white;
  font-weight: 400;
  border: solid rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: 5px;
}

h3 {
    font-size: 18px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h4 {
  text-align: center;
  font-size: 15px;
  color: grey;


}
 h5{
   font-size: 18px;
   font-family: "Segoe UI", Arial, sans-serif;
   font-weight: 400;
   margin: 10px 0;
 }

p {
  text-align: center;
  font-size: 17px;
  font-weight: bold;

}
button{
border: none;
background: #f1f1f1;
color: black;
padding: 10px;
font-size: 18px;
}
